Package: org.packix.sleeper
Name: Sleeper
Depends: mobilesubstrate
Version: 5.5.0-dev
Architecture: iphoneos-arm
Conflicts: org.thebigboss.sleeper
Replaces: org.thebigboss.sleeper
Description: Set custom snooze times and skip alarms with the Clock app using Sleeper!
Maintainer: Joshua Seltzer
Author: Joshua Seltzer
Section: Tweaks